#timeline {
  margin: 20px;
  text-align: left;
}

/* Timeline bounding box */
.rct-outer {
  border-bottom: 1px solid #ddd !important;
}

/* Date labels */
.rct-label-group {
  color: #333 !important;
  background-color: #ddd !important;
  border-left: 2px solid #aaa !important;
}

.rct-label {
  background: #fefefe !important;
  border-bottom: 1px solid #bbb !important;
}

/* Horizontal lines */
.rct-horizontal-lines .rct-hl-even, .rct-hl-odd {
  border: none !important;
}

.rct-horizontal-lines .rct-hl-odd {
  background: none !important;
}

/* Vertical lines */
.rct-vertical-lines .rct-vl {
  border-left: 1px solid #ddd !important;
}

.rct-vertical-lines .rct-vl-first {
  border-left: 2px solid #aaa !important;
}

/* Items */
.rct-item {
  color: #333 !important;
  font-size: 14px !important;
  border-radius: 6px !important;
  /* force min width so point-in-time icons are visible at any zoom level */
  min-width: 30px !important;
}

.rct-item.point-in-time {
  /* makes point-in-time items circular */
  border-radius: 15px  !important;
}

.medication-item {
  background-color: #d9ebf9 !important;
  border-color: #d9ebf9 !important;
}

.event-item {
  background-color: #fa9f8f !important;
  border-color: #fa9f8f !important;
}

.progression-item {
  background-color: #fbeead !important;
  border-color: #fbeead !important;
}

.bold-item {
  font-weight: bolder !important;
}
