{
    "extends": "react-app",
    "rules": {
        "arrow-spacing": "warn",
        "block-spacing": "warn",
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "no-trailing-spaces": "warn",
        "semi": "warn",
        "semi-spacing": "warn",
        "space-before-blocks": "warn",
        "space-in-parens": "warn"
    }
}
