src/lib/slate/*
src/lib/slate-suggestions-dist/*
src/lib/react-minimap/*
src/model/*
src/dataaccess/mcodev0.1-datasource/model/*
src/__test__/*
src/lib/cql-execution/*
src/lib/FHIRMapper.js
src/mcode-pilot/mock-data/mock-data.js
src/summary/TreatmentData.js
