@import '../../../styles/variables';

.similar-patients-selector {
    &__select-buttons {
        button {
            background-color: $background;
            border: 0;
            cursor: pointer;
            color: $interface-blue;
            font-size: 0.9em;
            font-weight: 600;

            &:hover {
                color: darken($interface-blue, 10%);
            }

            &:focus {
                outline: none;
                background-color: $interface-blue;
                color: #fff;
                border-radius: 5px;
            }
        }
    }

    .selection-option {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    &__options {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .options-checkbox-list {
            flex: 0 1 calc(33% - 1em);
        }
    }
}
