@import '../styles/variables';

#template-option-container {
    padding: 20px;
    text-align: left;
    #new-note-container {
        margin: 1em;
    }
    #template-search-container {
        margin: 1em;
    }
    #available-templates-container {
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
    }
    #cancel-btn { 
        position: fixed;
        bottom: 0;
        margin: 1em;
        border: 1px solid $line-gray;
        background-color: $background;
        min-width: 160px;
        &:hover { 
            background-color: $feature-gray;
        }
    }
}