:export {
  state: #767676;
  bodyGray: #4F4F4F; }

.template-option {
  position: relative;
  width: inherit;
  text-align: left;
  width: 150px;
  padding: 0.5em 1em;
  margin: 1em 1em 1em 0;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px 0 5px 5px; }
  .template-option > * {
    font-size: 0.75rem;
    color: #4F4F4F; }
  .template-option:hover {
    cursor: pointer;
    background-color: #F0F0F0; }
  .template-option::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #DDDDDD #fff; }
  .template-option .template-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #DDDDDD;
    color: #767676; }
  .template-option .template-author {
    padding-top: 5px;
    padding-bottom: 1px;
    color: #767676; }
