#clinician-dashboard-content {
    margin-top: 16px;
}

#clinician-dashboard-content .fitted-panel {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    /* 106px is the height of the Patient Control Panel, 16px is the height of the top margin of post encounter view content*/
    max-height: calc(100vh - 106px - 16px); 
    min-height: 400px !important;

}

/* For IE only */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #clinician-dashboard-content .fitted-panel {
        max-height: calc(96vh - 106px - 16px); 
    }
}

/* For IE Edge 12+ only */
@supports (-ms-ime-align:auto) {
    #clinician-dashboard-content .fitted-panel {
        max-height: calc(96vh - 106px - 16px); 
    }
}

#clinician-dashboard-content .right-border-box {
    border-right: 2px dashed #ddd;
}

#clinician-dashboard-content .full-panel {
    height: auto;
}