@import '../styles/variables';

#point-of-care-dashboard-content {
    display: flex;
    margin-left: -12px;
    position: relative;
    .poc-nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-basis: 92px;
        height: calc(100vh - 107px); //107 is the height of the patient control panel
        background-color: $tab-bar-blue;
        position: relative;
        z-index: 3;

        button {
            padding: 75px 0px;
        }
        .content {
            margin: auto;
            overflow-y: hidden;
        }
        .next-patient {
            margin: 0;
        }
    }

    .right-border-box {
        margin: 15px 10px 5px;
        overflow: hidden;
        // position: relative;

        &.point-of-care-container {
            // THESE TWO LINES BELOW OF CSS IS DOING SOMETHING TO THE SCROLLBAR
            overflow-y: auto;
            overflow-x: hidden;
            text-align: left;
            /* 106px is the height of the on large screens Patient Control Panel, 20px is the height of the top margin of post encounter view content and a little extra for potential scroll bars*/
            max-height: calc(100vh - 92px - 15px);
            min-height: 400px !important;
            margin-right: -2px;
        }

        .fitted-panel {
            // overflow-y: auto;
            // overflow-x: hidden;
            overflow: auto;
            text-align: left;
            /* 106px is the height of the on large screens Patient Control Panel, 20px is the height of the top margin of post encounter view content and a little extra for potential scroll bars*/
            max-height: calc(100vh - 117px - 20px + 10px);
            min-height: 400px !important;
            /* have to manually calculate the width due to the sidebar: 92 for the sidebar, 80 for the minimap and 42 for additional padding */
            width: calc(100vw - 92px - 80px - 42px);
        }
    }

    .full-panel {
        height: auto;
    }
}

@media only screen and (max-width: 1200px) { 
    //     /* 117px is the height of the on large screens Patient Control Panel, 20px is the height of the top margin of post encounter view content and a little extra for potential scroll bars */
    //     /* add back 10px for the top margin */
    #point-of-care-dashboard-content .point-of-care-container {
        max-height: calc(100vh - 117px - 20px + 10px) !important;
    }
}