#finish-sign-component {
    position: fixed;
    bottom: 0px;
    width: calc(35vw);
    background-color: #ffffff;
    text-align: left;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.btn_finish {
    background-color: #FFFFFF !important;
    text-transform: none !important;
    display: inline-block !important;
    min-width: 90% !important;
    margin: 20px 20px 20px 20px;
}