@import '../styles/variables';

#finish-sign-component {
    position: fixed;
    bottom: 0px;
    width: calc(35vw);
    background-color: #ffffff;
    text-align: left;
    z-index: 5;
    display: flex;
    justify-content: center;
    .btn-finish {
        background-color: #FFFFFF;
        text-transform: none;
        display: inline-block;
        min-width: 90%;
        margin: 10px;
        border: 1px solid $line-gray;
        border-radius: 3px;
    }
}
.panel-content.note-assistant-panel {
    padding: 0px !important;
}
