.patient-control-panel {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }
  .patient-control-panel, .patient-control-panel .FullApp-content {
    background-color: #FFFFFF; }
  .patient-control-panel .logo-accompaniment {
    display: inline-block;
    margin-bottom: 15px; }
    .patient-control-panel .logo-accompaniment .title {
      display: block;
      color: #0084B8;
      font-size: 1.2rem;
      font-weight: 600;
      vertical-align: 0.5em;
      padding-left: 5px; }
    .patient-control-panel .logo-accompaniment .login {
      display: block;
      font-size: 0.8rem;
      margin-left: 0.4rem; }
  .patient-control-panel #condition-selection-container {
    padding: 5px; }

.vertical-divider {
  border-left: 1px solid #DDDDDD;
  padding: 0 .5rem; }

.search-icon {
  padding-right: 5px; }
