@import '../styles/variables';

.patient-control-panel {
    width: 100vw;
    position: relative;
    text-align: left;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &, .FullApp-content {
        background-color: $background;
    }
    .logo-title-column { 
        display: flex;
        align-items: center;

        .logo-accompaniment {
            display: inline-block;
    
            .title {
                display: block;
                color: $shr-context-dark;
                font-size: 1.1rem;
                font-weight: 600;
                padding-left: 5px;
            }
    
            .login {
                display: block;
                font-size: 0.8rem;
                margin-left: 0.4rem;
            }
        }
    }
    .summary-header-column { 
        padding-left:0;
    }
    #condition-selection-container { 
        padding: 5px;
    }
}

.vertical-divider {
    border-left: 1px solid $line-gray;
    padding: 0 .5rem;
}

.search-icon {
    padding-right: 5px;
}

