.pickList-options-panel {
    margin: 20px 0;
    color: #888;
}

.option-btn {
    width: 90% !important;
    min-height: 20px !important;
    background-color: #FFFFFF !important;
    margin-top: 20px !important;
}

.option-btn:hover {
    background: #E6E6E6 !important;
}

.single-choice-button.selected {
    background-color: #3399FF !important;
    color: #fff !important;
}

.shortcut-options-container {
    margin-bottom: 50px;
}

.option-select-container {
    /*width: 90%;*/
    margin-bottom: 20px;
    max-width: 184px;
}

.option-select {
    width: 90%;
    max-width: 200px;
    margin-top: 15px;
}

.option-select-container .option-select {
    font-size: 0.8em;
}

.option-item:hover {
    background-color: #1384b5 !important;
    color: #fff !important;
}

#cancel-btn, #ok-btn {
    min-width: 70px;
    min-height: 20px;
    width: 50%;
    background-color: #FFFFFF;
    margin-top: 10%;
}

#cancel-btn:hover, #ok-btn:hover {
    background: #E6E6E6 !important;
}

