.pickList-options-panel {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #777;
}

/* ------------------------- SHORTCUT OPTIONS ------------------------------ */

.shortcut-options-container {
    margin-bottom: 30px;
}

.shortcut-options-container .option-btn {
    height: inherit;
    width: 95%;
    margin: 3px 0;
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    box-shadow: none;
    color: #777;
}

.shortcut-options-container .option-btn span {
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
}

.shortcut-options-container .option-btn:hover {
    background-color: #E6E6E6;
}

.shortcut-options-container .option-btn.selected,
.shortcut-options-container .option-btn.selected:hover {
    background-color: #3399FF !important;
    border-color: #3399FF !important;
    color: #fff !important;
}

/* ------------------------- SELECT OPTIONS -------------------------------- */

.option-select-container {
    margin-bottom: 20px;
    color: #777;
}

.option-select {
    width: 100%;
    margin-top: 15px;
}

.option-select-container .option-select {
    font-size: 0.8em;
    width: 95%;
}

.option-tooltip {
    z-index: 9999 !important;
}

.option-tooltip .rc-tooltip-inner{
    width: 200px;
    min-height: 22px;
    text-align: center;
    border-radius: 6px;
}

.option-item {
    display: flex;
    justify-content: space-between !important;
}

.right-aligned {
    padding-left: 15px;
}

/* ------------------------- OK/CANCEL BUTTONS ----------------------------- */

.pickList-options-panel .pickList-options-buttons {
    display: flex;
    margin-top: 30px;
}

.pickList-options-panel .pickList-options-buttons button {
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    box-shadow: none;
    color: #777;
    min-width: inherit;
    flex: 1;
    margin-right: 8px;
}

.pickList-options-panel button#cancel-btn {
    border: 2px solid #E6E6E6;
    min-width: 60px;
    background-color: #fff;
}

.pickList-options-panel button#ok-btn {
    border: 2px solid #777;
    background-color: #777;
    color: #fff;
}

.pickList-options-panel button#cancel-btn:hover {
    background-color: #E6E6E6;
    border-color: #E6E6E6;
}

.pickList-options-panel button#ok-btn:hover {
    background-color: #555;
    border-color: #555;
}
