.panel-heading {
  text-align: left; }

.fitted-panel.minimap-container {
  margin-left: 100px;
  width: auto; }

.fitted-panel .minimap {
  position: absolute;
  left: 0;
  margin: 0;
  background-color: #ffffff;
  border: none;
  float: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.minimap-viewport {
  background-color: #555;
  opacity: 0.15;
  width: 100px !important; }

.minimap-children {
  display: flex;
  margin: 3px 10px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  cursor: pointer; }

.minimap-children .minimap-title {
  text-align: center;
  color: #4F4F4F;
  font-size: 0.625rem; }

.minimap-title-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  font-size: 0.625rem;
  display: block;
  visibility: hidden; }

.edit-button {
  border-radius: 3px;
  border: 1px solid #767676 !important;
  color: #0079CA;
  margin-bottom: 5px; }

.targeted-data-subpanel-no-minimap {
  margin-left: 20px;
  margin-right: 0px; }
