// Style specification adopted from
// https://github.com/standardhealth/shr_design/blob/master/design/fluxnotes_deliverables/shr_fluxnotes_styles_v4.pdf

// Colors
$background: #FFFFFF;
$contrast-gray: #F9F9F9;
$feature-gray: #F0F0F0;
$line-gray: #DDDDDD;
$body-gray: #3F3F3F;
$state: #767676;
$warning-red: #C80B0B;
$warbubg-red-text: #BA2121;
$missing-data-red: #EC9696;
$interface-blue: #028DEA;
$interface-blue-text: #0079CA;
$shr-context-dark: #298085;
$shr-context-line: #55C9CE;
$shr-context-light: #DAF7F8;

// Custom variables
$highlight-yellow: rgb(255, 255, 3);
$highlight-selected-yellow: rgb(255, 150, 50);
$timeline-event-blue: #D9EBF9;
$timeline-event-orange: #FA9F8F;
$timeline-event-purple: #BBABCF;

$table-light-green: #91bd7b;
$table-dark-green: #5cb85c;
$table-dark-red: #d9534f;
$table-light-red: #EC9696;

$icons-gray: #9A9A9A;
$icons-purple: #762A75;
$icons-green: #427E84;
$icons-blue: #378EE3;
$icons-red: #EA7E73;
$icons-teal: #48BDBD;

// Typography
$weight-semibold: 600;
$weight-regular: 400;

$size-l: 1rem;
$size-m: 0.875rem;
$size-s: 0.75rem;
$size-xs: 0.625rem;

// Note assistant helpers
$note-assistant-overhang: 5px;
