@import './variables';

.FullApp-content {
    &.loading-background {
        background: grey;
    }
    min-height: 100vh;
    background-color: $background;
    overflow: hidden;
    /* Reduce padding that is set using fluid-container from react flex box */
    padding-right: 0rem !important;
    padding-left: 0rem !important;

    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }

    .panel-content {
        padding: 5px;
        text-align: left;
    }

    .dashboard-panel {
        text-align: left;
    }

    .divider {
        margin: 30px 0px 20px 0px !important;
        clear: both;
    }

    h1 {
        margin: 0px;
        font-size: 1.0rem;
        font-weight: 400;
    }

    h2 {
        margin: 0px;
        font-size: $size-l;
        font-weight: $weight-semibold;
    }

    h3 {
        margin: 2px 0;
        font-size: $size-m;
        font-weight: $weight-regular;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
        border-radius: 10px;
        background-color: #FFFFFF;
    }
}

#modal-title {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 400;
}

#simple-modal-description {
    margin: 0px;
}

.content-disabled {
    pointer-events: none;
    opacity: 0.4;
}
