/* Restricts app to max fixed width for very wide screens. */
.SlimApp-content {
    background-color: white;
    font-size:0.93rem;
    /*64 px is the height of the nav bar*/
    height: calc(100vh - 64px);
    padding: 0 0;
}

.SlimApp-content .row{
    margin: 0!important;
}

.SlimApp-content .divider {
    margin: 10px 0 20px 0px !important;
    clear: both;
}

.SlimApp-content h1 {
    margin: 10px 0;
    font-size: 1.25rem;
    font-family: "Open Sans", Arial, sans-serif;
}

.SlimApp-content h2 {
    margin: 0px;
    font-size: 0.9rem;
    font-weight: lighter;
    font-family: "Open Sans", Arial, sans-serif;
}

.SlimApp-content h3 {
    margin: 0px;
    font-size: 0.8rem;
    font-weight: lighter;
}

.SlimApp-content h4 {
    margin: 10px 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.SlimApp-content ::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.SlimApp-content .no-padding {
    padding: 0!important;
}

.SlimApp-content .header-spacing {
    margin-top: 25px;
}

.SlimApp-content a {
    color: #297DA2;
}


.SlimApp-content .data-element-description {
    margin-top: 15px;
    font-style: italic;
    font-size: 0.9em;
}