.treatment-options-outcomes-icons {
    display: flex;
    margin: 40px 0;

    &.note {
        font-style: italic;
    }

    .icons-survival-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        width: 120px;
        font-weight: 100;
    }

    .icons-interaction {
        min-width: 350px;
        margin-right: 20px;

        .interaction-selection {
            position: relative;
            font-size: 1em;
            margin: 0 0 5px 8px;
            padding: 10px;
            border-radius: 5px;
            border: 2px solid transparent;

            &.active {
                border-color: $interface-blue;
            }

            .treatment-name-group {
                cursor: pointer;

                .treatment-name {
                    font-size: 1.2em;

                    &.selected {
                        font-weight: 600;
                    }
                }
            }

            .interaction-display {
                margin: 5px 0 15px 12px;
                padding-bottom: 10px;
                font-size: 1.1em;
                font-weight: 600;
                border-bottom: 2px solid;

                div {
                    margin: 5px 0;
                }

                .additional-survive-group {
                    .additional-survive {
                        margin-right: 5px;
                        font-size: 1.2em;
                    }
                }

                .side-effects-group {
                    .side-effects-list {
                        margin-left: 40px;
                        font-weight: 500;

                        .list-item {
                            display: flex;
                            align-items: center;
                            margin: 0;
                            padding: 0 10px;

                            .item-name {
                                flex: 2;
                            }

                            .item-effect {
                                flex: 1;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        .selected-icon {
            position: absolute;
            top: 6px;
            left: -15px;
        }
    }
}
