@import '../../../styles/variables';
@import '../../../styles/mixins/media-queries';

.treatment-options-outcomes-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    @include respond-to('1024px') { flex-direction: column; }

    &.note {
        font-style: italic;
    }

    .icons-survival-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px;
        width: 120px;
        height: 375px;
        font-weight: 100;
    }

    .icons-interaction *,
    .icons-interaction *:before,
    .icons-interaction *:after {
        box-sizing: inherit;
    }

    .icons-interaction {
        box-sizing: border-box;
        margin-right: 20px;

        &__header {
            display: flex;
            align-items: flex-end;
            margin-bottom: 10px;

            .user-icon,
            .overall-survival {
                text-align: center;
            }
        }

        &__row {
            height: 56px;
            align-items: center;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 5px;
            min-width: 500px;

            @include respond-to('1180px') { min-width: 0; }

            &:nth-child(even) {
                background-color: $contrast-gray;
            }

            &:hover:not(.selected-treatment) {
                background-color: lighten($icons-blue, 40%);
            }

            &.selected-treatment {
                background-color: darken($contrast-gray, 5%);
                box-shadow: 0px 10px 8px -5px rgba(153, 153, 153, 1);
            }

            &.displayed-treatment {
                border-color: $icons-blue;
            }

            .select-icon {
                padding-right: 10px;
                cursor: pointer;
            }

            .treatment-name {
                align-items: center;
                min-width: 120px;
            }

            .total-patients,
            .overall-survival {
                text-align: center;
            }

            .overall-survival {
                .diff-num-selected {
                    font-size: 1.1em;

                    &.positive { color: $icons-green; }
                    &.negative { color: $icons-red; }
                }
            }
        }

        .selected-icon {
            position: absolute;
            top: 6px;
            left: -15px;
        }
    }

    .flex { display: flex; }
    .flex-1 { flex: 1; }
    .flex-2 { flex: 2; }
    .flex-3 { flex: 3; }
    .flex-padding { padding: 0 20px; }
}
