
#shortcut-viewer {
    background: white;
    height: calc(100vh - 64px - 40px);
    text-align: left;
    z-index: 2;
    padding: 20px;
    -webkit-box-shadow: -3px 0px 5px -2px rgba(125,125,125,0.7);
    -moz-box-shadow: -3px 0px 5px -2px rgba(125,125,125,0.7);
    box-shadow: -3px 0px 5px -2px rgba(125,125,125,0.7);
}

.btn_copy {
    margin-left: 5px;
    margin-top:  100px;
}
.row.vdivide [class*='col-']:not(:last-child):after {
    background: red;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}
