
#shortcut-viewer {
    background: white;

    /* 64 fo navbar; 60px for top/bottom padding */
    height: calc(100vh - 64px - 60px);
    text-align: left;
    z-index: 2;
    padding: 30px 60px;
    -webkit-box-shadow: -3px 0px 5px -2px rgba(125,125,125,0.7);
    -moz-box-shadow: -3px 0px 5px -2px rgba(125,125,125,0.7);
    box-shadow: -3px 0px 5px -2px rgba(125,125,125,0.7);
    overflow-y: scroll;
}

.btn_copy {
    display: inline-block;
    margin-top:  50px;
}

#copy-keyword:after {
    background: #b1b1b1;
    width: 1px;
    content: "";
    display:inline-block;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 20px;
    margin: -5px 20px -5px 20px; 
}

#copy-keyword {
    margin: 0 0 0 20px;
    display: inline-block;
}

#copy-content {
    margin: 0 20px 0 0;
    display: inline-block;
}

