@import '../../../styles/variables';
@import '../../../styles/mixins/media-queries';

.treatment-options-outcomes-table {
    width: 100%;
    border-collapse: collapse;
    border: 0;

    &__header {
        td {
            padding: 0 10px;
            font-size: 1.1em;
        }

        .compare-header {
            font-size: 0.9em;
            padding-right: 40px;
            margin-bottom: -10px;
            min-width: 120px;

            @include respond-to('1024px') { padding-right: 0; }
        }

        .user-icon {
            text-align: center;
        }

        .header-title {
            font-weight: 600;
            font-size: 1.1em;
            margin-bottom: 5px;

            #ccp-table-select .custom-select:after {
                background-color: $shr-context-dark;
            }
        }

        .sort-arrows {
            visibility: hidden;
            color: $interface-blue;
            font-size: 12px;
            padding-left: 5px;
        }

        .sort-selected {
            visibility:visible;
            color: $icons-teal;
        }

        .header-space:hover .sort-arrows {
            visibility: visible;
        }

        .header-space {
            cursor: pointer;
            margin-right: -20px;
        }
    }

    &__table {
        td {
            padding: 0 10px;
            font-size: 1.1em;
            vertical-align: middle;
        }

        .select-icon {
            padding-right: 10px;
            cursor: pointer;
        }

        .treatments-title {
            font-weight: bold;
        }

        .select-treatments {
            display: inline-block;
            position: relative;
            cursor: pointer;
            margin-left: 20px;

            .popover-text {
                color: $shr-context-dark;
                font-weight: bold;
                font-size: 0.9em;
            }
        }

        .top-side-effects {
            flex-direction: column;
            min-width: 100px;
        }

        .table-row {
            height: 60px;
            align-items: center;

            &:nth-child(odd) {
                background-color: $contrast-gray;
            }

            &.helper-text {
                font-style: italic;
            }

            .total-patients {
                text-align: center;
            }

            &.selected-treatment {
                background-color: darken($contrast-gray, 5%);
                border-top: 1px solid darken($contrast-gray, 10%);
                box-shadow: 0px 10px 8px -5px rgba(153, 153, 153, 1);
            }
        }
    }

    tfoot td {
        padding: 10px 0;
    }

    .flex { display: flex; }
    .flex-1 { flex: 1; }
    .flex-2 { flex: 2; }
    .flex-3 { flex: 3; }
    .flex-4 { flex: 4; }
    .flex-6 { flex: 6; }
    .flex-padding { padding: 0 20px; }
    .flex-center { align-items: center; }

    @media (max-width: 1024px) {
        .flex-padding {
            padding: 0 5px;
        }
    }
}

li.side-effect-option {
    &:hover {
        color: $background;
    }
}
