.SlimApp {
}

/* Restricts app to max fixed width for very wide screens. */
.SlimApp-content {
    background-color: white;
    /*64 px is the height of the nav bar*/
    height: calc(100vh - 64px);
    padding: 0 0;
}

.SlimApp-content .row{
    margin: 0!important;
}
.SlimApp-content .divider {
    margin: 20px 0px !important;
    clear: both;
}

.SlimApp-content h1 {
    margin: 0px;
    font-size: 1.25rem;
}

.SlimApp-content h2 {
    margin: 0px;
    font-size: 0.9rem;
    font-weight: lighter;
}

.SlimApp-content h3 {
    margin: 0px;
    font-size: 0.8rem;
    font-weight: lighter;
}


.SlimApp-content ::-webkit-scrollbar {
    width: 12px;
}

.SlimApp-content ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 10px;
}

.SlimApp-content ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

.SlimApp-content .no-padding { 
    padding: 0!important;
}