@import '../styles/variables';

.multi-choice-button {
    border-radius: 5px !important;
    border-color: $background;
    line-height: 0.9rem !important;
    margin: 0.5px !important;

    &.selected {
      background-color: $interface-blue !important;
      color: $background;
  }
}
