@import '../styles/variables';

.multi-choice-button {
    border-radius: 5px !important;
    border-color: $background;
    line-height: 0.9rem !important;
    margin: 2px !important;
    width: 115px !important;
    height: 47px !important;
    border-radius: 4px !important;
    color: $body-black !important;
    &.selected {
      background-color: $interface-blue !important;
      color: $background;
  }
}
