.single-choice-button.selected {
    background-color: #297DA2 !important;
    color: #fff !important;
}

.single-choice-button {
    border-radius: 5px;
    border: 2px solid;
    border-color: white;
    line-height: 0.9rem !important;
}