.btn {
  border-right: 1px solid #eee;
}

.btn.tumor-size {
  min-width: 16% !important;
}

.btn.node {
  min-width: 18% !important;
}

.btn.metastasis {
  min-width: 40% !important;
}

.stage {
  font-size: 24px !important;
  margin-bottom: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    font-size: .8rem;
}

.tooltip #T4, .tooltip #N1, .tooltip #N2, .tooltip #N3, .tooltip #M1 {
    width: 200px !important;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
}