@import "../styles/variables";

.template {
  margin: 5px 0 5px $note-assistant-overhang;
  font-size: $size-m;
  color: $body-gray;
  cursor: pointer;

  &:hover {
    color: $body-gray;
    font-weight: $weight-semibold;
  }
}
