:export {
  state: #767676;
  bodyGray: #4F4F4F; }

.template {
  margin: 5px 0 5px 5px;
  font-size: 0.8125rem;
  color: #4F4F4F;
  cursor: pointer; }
  .template:hover {
    color: #4F4F4F;
    font-weight: 600; }
