@import '../../../styles/variables';

.treatment-options-outcomes {
    margin: 20px;
    font-size: 0.9em;
    margin-bottom: 200px;

    &__toggle {
        display: flex;
        justify-content: flex-end;
        font-size: 1.6em;

        .timescale-toggles {
            display: flex;
            height: 20px;
            margin-right: 40px;

            .timescale-toggle {
                display: flex;
                align-items: center;
                border-radius: 4px;
                font-size: 0.6em;
                padding: 2px 10px;
                color: $body-gray;
                cursor: pointer;

                &.active {
                    background-color: $interface-blue;
                    color: $background;
                }
            }
        }

        .toggle-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;
            cursor: pointer;
            color: $state;

            svg { stroke: $state; }

            &.active,
            &.active .toggle-text {
                color: $interface-blue;

                svg { stroke: $interface-blue; }
            }

            .toggle-text {
                font-size: 0.6em;
                color: $body-gray;
            }
        }
    }

    &__header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;

        .user-icon {
            text-align: center;
            font-size: 1.5em;
            color: $state;
        }

        .header-title {
            font-weight: 600;
            font-size: 1.1em;
            margin-bottom: 5px;
        }
    }

    &__table {
        .table-row {
            height: 50px;
            align-items: center;
        }
    }

    &__icons {
        display: flex;
        margin: 40px;

        .icons-survival-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px;
            width: 120px;
            font-weight: 100;
        }

        .icons-chart {
            display: flex;
            flex-wrap: wrap;
            width: 350px;

            &__circle {
                border-radius: 50%;
                height: 20px;
                width: 20px;
                margin: 5px;

                &.survive {
                    border: 1px solid $body-gray;
                }

                &.die {
                    border: 1px solid $icons-gray;
                    background-color: $icons-gray;
                }
            }
        }

        .icons-interaction {
            .interaction-included,
            .interaction-combined {
                font-size: 1.1em;
                cursor: pointer;
            }

            .interaction-included {
                font-weight: 600;
                margin-bottom: 20px;
            }

            .interaction-combined {
                margin: 0 0 5px 8px;
            }

            .interaction-combined:nth-child(2) { color: $icons-purple; }
            .interaction-combined:nth-child(3) { color: $icons-green; }
            .interaction-combined:nth-child(4) { color: $icons-blue; }
            .interaction-combined:nth-child(5) { color: $icons-red; }
            .interaction-combined:nth-child(6) { color: $icons-teal; }
        }
    }

    .note {
        font-style: italic;
    }

    .total-patients {
        text-align: center;
    }

    .select-treatments {
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-left: 20px;

        .popover-text {
            color: $shr-context-dark;
            font-weight: bold;
            font-size: 0.9em;
        }
    }

    .included-treatments {
        background-color: $shr-context-light;
        border: 1px solid $feature-gray;
    }

    .included-treatments,
    .compared-treatments {
        padding: 5px 10px;
        margin-bottom: 20px;
    }

    .treatments-title {
        font-weight: bold;
    }

    .helper-text {
        font-style: italic;
    }

    .flex { display: flex; }
    .flex-1 { flex: 1; }
    .flex-2 { flex: 2; }
    .flex-3 { flex: 3; }
    .flex-4 { flex: 4; }
    .flex-6 { flex: 6; }
    .flex-padding { padding: 0 20px; }
    .flex-center { align-items: center; }
}
