#post-encounter-view-content { 
    margin-top: 16px;
}

#post-encounter-view-content .fitted-panel { 
    overflow-y: scroll;
    text-align: left;
    max-height: calc(100vh - 200px);
    min-height: 400px !important;
}

#post-encounter-view-content .right-border-box { 
    border-right: 2px dashed #ddd;
}

#post-encounter-view-content .full-panel { 
    height: auto;
}