#pre-encounter-view-content { 
    margin-top: 16px;
}

#pre-encounter-view-content .fitted-panel { 
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
    min-height: 500px !important;
}

#pre-encounter-view-content .full-panel { 
    height: auto;
}