:export {
  state: #767676;
  bodyGray: #4F4F4F; }

.modal .modal-description {
  width: 160px; }

.modal .modal-header {
  font-size: 0.6875rem;
  margin: 0px; }

.modal .fa-times {
  margin-left: 380px;
  color: #378EE3; }
