@import "../styles/variables";
.modal {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    width: 525px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 8px 0px 8px !important;
    .section-divider {
        height: 1px;
        color: $line-gray;
        border: none;
        background-color: rgba(0, 0, 0, 0.12);
    }
    .modal-list {
        padding-bottom: 0px;
    }
    .button {
        color: $state;
        font-size: $size-m;
        border: 1px solid $state;
        background-color: $background;
        text-transform: lowercase;
        font-family: "Open Sans", Arial, sans-serif;
        min-width: 55px;
        min-height: 25px;
        padding: 0px 0px 0px 0px;
        margin-top: 4px;
        border-color: $icons-gray;
        
    }
    .blue-button {
        background-color: $interface-blue;
        color: white;
    }
    .white-button {
        background-color: $background;
    }
    .control-panel {
        position: sticky;
        bottom: 0px;
        background-color: $background;
        .modal-date {
            margin-top: 5px;
            font-weight: $weight-semibold;
        }
    }
    .hovered-list-item {
        background-color: rgba(26, 118, 180, 0.1);
        cursor: pointer;
        outline: solid;
        outline-width: medium;
        outline-color: skyblue;
    }
    .patient-being-viewed {
        background-color: $feature-gray;
    }
    .list-item {
        margin-bottom: 20px;
    }
    .clickable {
        cursor: pointer;
    }
    .MuiList-root-250 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .MuiListItem-root-231 {
        padding-left: 10px;
        padding-right: 0px;
    }
    .MuiList-root-227 {
        padding-top: 0px;
    }
    .app-time {
        //appointment times
        .MuiTypography-root-174 {
            padding-left: 15px;
            color: $state;
        }
    }
    .modal-description {
        width: 160px;
        padding-right: 0px;
    }
    .modal-header {
        font-size: $size-m;
        margin: 0px;
        text-align: center;
        font-weight: 550;
    }
    .fa-times {
        color: $icons-blue;
        position: relative;
        float: right;
        margin-right: -22px;

    }
    .arrow {
        color: $icons-blue;
        padding-left: 5px;
        padding-right: 5px;
    }
}
