@import '../styles/variables';
.modal {
    .modal-description {
        width: 160px;
    }
    .modal-header {
        font-size: $size-xs;
        margin: 0px;
    }
    .fa-times {
        margin-left: 380px;
        color: $icons-blue;
    }
}