:export {
  state: #767676;
  bodyGray: #4F4F4F; }

.modal {
  overflow-y: auto;
  max-height: 500px;
  width: 520px !important; }
  .modal .hovered-list-item {
    background-color: rgba(26, 118, 180, 0.1);
    cursor: pointer; }
  .modal .clickable {
    cursor: pointer; }
  .modal .MuiList-root-250 {
    padding-top: 0px; }
  .modal .MuiListItem-root-231 {
    padding-left: 10px;
    padding-right: 0px; }
  .modal .MuiList-root-227 {
    padding-top: 0px; }
  .modal .app-time .MuiTypography-root-174 {
    padding-left: 15px;
    color: #767676; }
  .modal .modal-description {
    width: 160px;
    padding-right: 0px; }
  .modal .modal-header {
    font-size: 0.6875rem;
    margin: 0px; }
  .modal .fa-times {
    margin-left: 500px;
    color: #378EE3; }
