@import '../styles/variables';

.suggestion {
    &-item {
        display: block;
        align-items: center;
        padding: 10px;
    }

    &-label {
        min-width: 80px;
        display: block;
        font-size: 10px;
        width: 80px;
        padding: 5px auto;

        & .label-content {
            margin: 0;
            display: inline-block;
            white-space: nowrap;
            line-height: 1.2rem;
            text-overflow: ellipsis;
        }
    }

    &-text {
        font-size: 14px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.highlighted-input-value { 
    font-weight: 600;
}

.dividing-line:after { 
    background: #b1b1b1;
    width: 1px;
    content: "";
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 25px;
    margin: -5px 10px -5px 10px;
}