@import '../../../styles/variables';
@import '../../../styles/mixins/colors';

.icons-chart {
    display: flex;

    .icons-survival-text {
        .selected-treatment {
            font-weight: 400;

            &.index { @include index-colors; }
        }
    }

    &__display {
        display: flex;
        flex-wrap: wrap;
        width: 420px;
    }

    &__circle {
        border-radius: 50%;
        height: 25px;
        width: 25px;
        margin: 6px;

        &.survive {
            border: 1px solid $body-gray;
        }

        &.additional {
            border: 3px solid;
            margin: 4px;

            &.index {
                @include index-colors('border-color');
                @include index-colors('background-color', '-', 0.1);
            }
        }

        &.die {
            border: 1px solid $icons-gray;
            background-color: $icons-gray;
        }
    }
}
