@import '../../../styles/variables';

.options-checkbox-list {
    margin: 10px 0;

    &__header {
        white-space: nowrap;

        .expand-icon {
            margin-right: 10px;
            cursor: pointer;
            font-size: 1.2em;
            color: $state;
        }

        .header-title {
            font-weight: 600;
            color: $body-gray;
        }

        .selected-count {
            margin-left: 10px;
            font-size: 0.9em;
            color:$state;
        }
    }

    &__options {
        .selection-options {
            display: flex;
            flex-direction: column;
            margin-left: 60px;

            &__title {
               color: $body-gray;
            }
        }
    }

    .checkbox {
        height: 22px;
        width: 22px;
        margin-right: 5px;
        color: $shr-context-dark;
    }
}
