@import '../../../styles/variables';

.options-range-selector {
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 300px;
    min-height: 100px;
    z-index: 1;
    padding: 5px 10px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $feature-gray;
        padding: 5px;

        .title {
            .name {
               font-weight: 600;
            }

            .unit {
                color: lighten($body-gray, 10%);
            }
        }

        .reset-range {
            font-size: 0.9em;
            color: $interface-blue-text;
            cursor: pointer;

            &:hover {
                color: darken($interface-blue-text, 10%);
            }
        }
    }

    .selector {
        margin: 40px 0;
    }
}

div.rc-slider {
    &-handle {
        height: 22px;
        margin-top: -10px;
        border-radius: 4px;
        width: 12px;
        margin-left: -6px;
        border: 1px solid lighten($body-gray, 30%);
    }

    &-rail {
        border: 1px solid lighten($body-gray, 30%);
        background-color: white;
        height: 8px;
        margin-top: -2px;
    }

    &-track {
        height: 6px;
        margin-top: -1px;
        background-color: $interface-blue-text;
    }

    span.rc-slider-dot {
        height: 20px;
        width: 1px;
        border-radius: 0;
        background-color: lighten($body-gray, 30%);
        bottom: -8px;
        border: 0;
        margin-left: -1px;
    }
}

div.rc-slider-tooltip {
    &-placement-top {
        z-index: 1;
    }

    &-arrow {
        border: 0;
    }

    &-inner {
        background-color: transparent;
        box-shadow: none;
        color: $interface-blue-text;
        font-size: 1.1em;
        font-weight: 600;
        padding-top: 15px;
    }
}
