.toolbar-breadcrumbs {
    color: #ccc;
    font-size: 0.9em;
    font-style: italic;
    display: inline;
}

.toolbar-breadcrumb {
    display: inline;
}

.breadcrumb-separator {
    padding: 0 15px 0 15px;
    display: inline;
}