/* .toolbar-menu > * {
    display: inline-block;
} */

.toolbar-menu {
    padding: 1px 0 17px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
}

.toolbar-menu .button {
    color: #ccc;
    margin-left: 10px;
    cursor: pointer;
    display: inline;
}

.toolbar-menu .button:nth-child(1) {
    margin-left: 0px;
}

.toolbar-menu .button[data-active="true"] {
  color: black;
}

.toolbar-breadcrumbs-separator {
    display: inline-block;
    color: #ddd;
    vertical-align: bottom;
    margin: 0px 40px;
    border: none;
    border-left: 1px solid;
    height: 19px;
}

.MyEditor-root .autocomplete-menu { 
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(255, 255, 255);
    z-index: 1111;
}

.MyEditor-root .autocomplete-menu > * {
    display: block;
    padding: 7px 10px;
}

.MyEditor-root .autocomplete-menu .menu-item[data-active="true"] {
    background-color: rgba(0,0,0,0.1);
}

.MyEditor-root p {
    display: inline;
    margin: 0;
}

.MyEditor-root span {
    display: inline;
}

.clear{
  clear: both;
  display: block;  
  content: "";
  margin: 10px 0;
  width: 100%;  
}

#copy-button a {
    color: #ccc;
}

#copy-button a:hover {
    color: black;
}