.done-checkbox {
    margin-inline-end: 5px;
    vertical-align: top;
}

.shortcut-name {
    margin-inline-end: 10px;
    vertical-align: top;
}

.error-message {
    color: #FF0000;
}

.shortcut-field-title {
    margin-inline-end: 5px;
}

.missing-data {
    margin-inline-end: 20px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    text-decoration: none;
}

.structured-data {
    margin-inline-end: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(1, 130, 215, 0.5);
    text-decoration: none;
}

.date-selection {
    border: 1px solid #000000;
    display: inline-block;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

.date-selection-calendar {
    position: absolute;
    top: 50px;
    left: 150px;
}

.test-styling-on-date {
    position: relative;
    width: 100%;
    height: 100%;

}

.expanded-styling > * {
    overflow: visible !important;
}

/* .MuiCollapse-container-294 {
    overflow: visible;
} */