#fluxnoteseditor {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
	text-align: left;
}

.structured-field {
    background-color: #ecf6fb;
    border: 10px; /* begin Material UI styling on dropdown */
    box-sizing: content-box; 
    display: block; 
    font-family: Roboto, sans-serif; 
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0); 
    overflow: hidden;
    cursor: pointer; 
    text-decoration: none; 
    margin: 1px;  /*cristen*/
    padding: 0px; 
    outline: none; 
    font-size: 15px; 
    font-weight: inherit; 
    position: relative;  
    z-index: 1; 
    color: rgba(0, 0, 0, 0.87); /* colors #progression text */
    line-height: 10px; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    min-height: 32px; 
    white-space: nowrap; 
    position: relative; /* for the dropdowns https://stackoverflow.com/questions/34660385/how-to-position-a-react-component-relative-to-its-parent */
    /* background: none;  end of Material CSS, this line wipes the blue background
    simply inserting the copied HTML+CSS gives us a new box, that looks nothing like Material UI style
   */
}
/* or do we want it to apply just to each dropdown, below? */
.sf-subfield {
    background-color: mediumvioletred;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #c2caff; /*#3b8ec2; */
    height: 25px;
    overflow: hidden;
    width: 50px; /* doesn't override a style in the <select> tag in DropdownStructuredComponent */
    border: 0px solid #82caff;/* !important; is it? */
    padding: 2px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow - unknown property */
     background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
}

.Select-control {
    background-color:#ecf6fb;
    width: 60px;
    height: 23px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 0px; /* makes it bigger, but not smaller when negative */
    padding-top: 0px;
    position: relative; 
    font-weight: bolder; /* TODO 4pm make it look good enough even if smaller, or reposition Selected text https://www.w3schools.com/cssref/pr_font_weight.asp 
    
            THEN tie together backend, as seen in older master when the dropdowns were <select><option>
    */
    top: 6px; /* this moves the new dropdowns vertically
     position:relative in .sturctured-field and in .Select-control have no effect, just this one line */
     /* line-height: 0.1em; no effect */
     display: inline-block;
}
/* The display: inline-block ensures that all 3 dropdowns are on the same line */
.Select {
    display: inline-block;
}
/* height maybe? https://github.com/JedWatson/react-select/issues/1322 */
/*
.Select-value {
    line-height: 1px !important;
}
.Select-value-label {
    line-height: 1px;
}
.Select-placeholder {
    line-height: -20px; does weird things, each dropdown at different height
}
.Select-menu {
    max-height: 10px;
}
.Select-menu-outer {
    max-height: 10px;
}*/
.Select-placeholder {
    font-size: 12px;
}

/* remove the clickable X to clear your selection */
.Select-clear {
    font-size: 0px;
}

/* .Select-arrow for the down-pointing arrow. changing border-style away from solid causes it to disappear */
.Select-arrow {
    align-content: right;
}
/* hides the "text entry", as we are not allowing typing in the <input> anyway
https://github.com/JedWatson/react-select/issues/164 */
.Select-input {
  color: transparent;
  padding-bottom: 10px; /* doese nothing? */
} 
/* remove blinking cursor by making it the same color */
input, textarea {
    color: #ecf6fb;
}

#clinical-notes #note-description p.note-description-detail-name {
    padding-bottom:2px;
    color: #919191;
    font-size: .9rem;
    margin: 0;
}

#clinical-notes #note-description p.note-description-detail-value {
    padding-top:0;
    font-size: .9rem;
    margin: 0;
}

#notes-message {
    text-align: center;
    color: #00bcd4;
    font-weight: bold;
    font-size: 20px;
}

#data {
    color: black;
}

.MyEditor-root {
    font-family: 'Georgia', serif;
}

.MyEditor-root .toolbar-menu > * + * {
    margin-left: 15px;
}

.MyEditor-root .toolbar-menu > * {
    display: inline-block;
}

.MyEditor-root .toolbar-menu {
    padding: 1px 0 17px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.MyEditor-root .toolbar-menu .button {
    color: #ccc;
    cursor: pointer;
}

.MyEditor-root .toolbar-menu .button[data-active="true"] {
  color: black;
}

.MyEditor-root .autocomplete-menu { 
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(255, 255, 255);
    z-index: 1111;
}

.MyEditor-root .autocomplete-menu > * {
    display: block;
    padding: 7px 10px;
}

.MyEditor-root .autocomplete-menu .menu-item[data-active="true"] {
    background-color: rgba(0,0,0,0.1);
}


.MyEditor-root .shorthand-menu { 
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(255, 255, 255);
    z-index: 1111;
}

.MyEditor-root .shorthand-menu > * {
    display: block;
    padding: 7px 10px;
}

.MyEditor-root .shorthand-menu .menu-item[data-active="true"] {
    background-color: rgba(0,0,0,0.1);
}


.MyEditor-root p {
    display: inline;
    margin:0;
}

.MyEditor-root span {
    display: inline;
}

.clear{
  clear: both;
  display: block;  
  content: "";
  margin: 10px 0;
  width: 100%;  
}

.suggestion-portal {
  display: none;
  position: absolute;
  z-index: 10000;
  margin-top: 30px;
  width: 200px;
}

.suggestion-portal ul {
  list-style-type: none;
  margin-top: 0;
  position: relative;
  padding-left: 0;
  margin-left: -8px;
  background-color: #fff;
}

.suggestion-portal li {
  padding: 5px 10px;
}

.suggestion-portal li.selected {
  background-color: #eee;
}