@import '../styles/variables';

#clinical-notes {
    padding-left:25px;
    align-self: flex-start;
    #note-description {
        .note-description-detail {
            margin: 0;
        }
       
        .note-description-detail-name {
            text-align: left;
            padding-bottom:2px;
            color: #919191;
            font-size: .7rem;
            margin: 0;
        }
    
       .note-description-detail-value {
            text-align: left;
            padding-top:0;
            font-size: .8rem;
            margin: 0;
        }
    
        p.note-name {
            text-align: left;
            padding-top:0;
            font-size: 0.8rem;
            margin: 0px;
            padding-left: 0.5rem;
            font-weight: bold;
            display: flex;
            align-items: baseline;
            &:hover {
                cursor: pointer;
            }
            #edit-note-name-btn {
                margin-left: -20px;
                margin-right: 5px;
            }
            
        }
        #text-field-container {
            margin: 0px 0px 0px 10px;
            width: 100%;
        }
        #note-title-input {
            font-family: "Open Sans", Arial, sans-serif;
            font-size: .8rem;
        }

        .close-note-btn {
            background-color: white !important;
            padding: 0px !important;
            margin-top: 0px !important;
            text-transform: none !important;
        }
        
        .close-note-btn:hover {
            background: #E6E6E6 !important;
        }

        .note-description-divider {
            margin: 20px 0px !important;
            clear: both;
        }
    }
    
    .MyEditor-root {
        font-family: 'Georgia', serif;

        .toolbar-menu > * {
            display: inline-block;
        }

        .toolbar-menu {
            padding: 1px 0 17px 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;

            .button {
                color: #ccc;
                cursor: pointer;
            }

            .button[data-active="true"] {
                color: black;
            }
        }

        p {
            display: inline;
            margin:0;
        }

        span {
            display: inline;
        }
        
    }
}

.editor-content {
    /* 96px is the height of the Patient Control Panel, 20px is the height of the top margin of post encounter view
    content and a little extra for potential scroll bars, 130px accounts for the editor header and editor toolbar 
    plus margins, 76px is the height of the sign button, 20px is the margin on the sign button */
    height: calc(100vh - 96px - 20px - 130px - 76px - 20px) !important;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
}

.editor-content-modal {
    /* 80vh for the modal height, 40px for modal padding, 40px for note-description */
    max-height: calc(80vh - 40px - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
}

// ******** StructuredFieldPlugin.jsx uses this
.structured-field {
    background-color: #d9ebf9;
}

.placeholder {
    background-color: #dddddd;
}

// ******** suggestion-portal.js uses this
.suggestion-portal { 
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 30px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(255, 255, 255);
    z-index: 1111;
    max-height: 212px; /* 6 list elements at 32px each, plus 10px of margin on top and bottom */
    overflow-y: auto;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
        background-color: #fff;
    }

    > * {
        display: block;
        padding: 7px 10px;
    }

    li { 
        padding: 5px 10px;
        min-width: 75px;
        max-width: 300px
    }

    li.selected {
        background-color: #297DA2;
        color: #fff;
    }
}

@media only screen and (max-width: 1024px) { 
    .editor-content {
        /* 117px is the height of the Patient Control Panel, 20px is the height of the top margin of post encounter view
        content and a little extra for potential scroll bars, 130px accounts for the editor header and editor toolbar 
        plus margins, 76px is the height of the sign button, 20px is the margin on the sign button */
        height: calc(100vh - 117px - 20px - 130px - 76px - 20px) !important;
    }
}