span.button-hover {
    cursor: pointer;
}

.clinical-notes-panel {
    margin: auto;
    width: 160px;
    /*height: 100px;*/
}

.note-new:hover {
    cursor:pointer;
    background: #e6e6e6;
}

.note-new {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.resume-note-btn {
    background-color: white !important;
    height: 80px;
    width: 95%;
    padding: 10px !important;
    margin-left: 5px;
    margin-bottom: 20px;
}

.resume-note-btn:hover {
    background: #e6e6e6 !important;
}


.previous-notes-label {
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 10px;
}

.sort-label {
    margin-left: 10px;
    font-size: 0.8em;
}

.sort-selection {

    margin-bottom: 20px;
}

.sort-select {
    width: 50%;
    margin-left: 10px;
}
.sort-selection .sort-select {
    font-size: 0.8em;
}

.sort-item:hover {
    background-color: #1384b5;
    color: #fff;
}
.note {
    padding-top: 0px !important;

}

.note:hover {
    cursor:pointer;
    background: #e6e6e6;
}

.notes-table {
    margin-top: 0px !important;
}


.existing-note-date {
    font-size: 0.7rem;
    color: #333333 !important;
    font-weight: bold;
}

.existing-note-subject {
    font-size: 0.7rem;
    color: #999 !important;
}

.existing-note-metadata {
    font-size: 0.7rem;
    color: #999 !important;
    margin-bottom: 5px;
}

.more-notes-btn {
    background-color: white !important;
    font-size: 0.7rem !important;
    height: 60px;
    width: 95%;
    padding: 10px !important;
    margin-left: 5px;
    margin-top: 10px;
    text-transform: none !important;
}

.more-notes-btn:hover {
    background: #e6e6e6 !important;
}

/*Playing around with button click animation*/
/*.note:active {*/
    /*vertical-align: top;*/
    /*padding: 8px 13px 6px;*/
/*}*/

