span.button-hover {
    cursor: pointer;
}

.toggle-button {
    background-color: #FFFFFF !important;
    min-width: 70px !important;
    min-height: 20px !important;
    display: inline-block !important;
}

.toggle-buttons-container {
    display: flex !important;
}

#notes-btn {
    width: 50%
}

#context-btn {
    width: 50%;
}
.toggle-button-selected {
    background-color: #3399FF !important;
    min-width: 70px !important;
    min-height: 20px !important;
    display: inline-block !important;
}

.clinical-notes-panel { 
    float: right;
}

.previous-notes-label {
    font-weight: bold;
    font-size: 0.8em;
    margin: 10px;
}

/* Sort */

.sort-label {
    margin-left: 10px;
    font-size: 0.8em;
}

.sort-selection {
    margin-bottom: 20px;
}

.sort-select {
    width: 90%;
    max-width: 200px;
    margin-left: 10px;
}

.sort-selection .sort-select {
    font-size: 0.8em;
}

li.sort-item:hover {
    background-color: #1384b5;
    color: #fff;
}

/* Buttons */

.note-new {
    margin: 10px 0 20px;
    text-align: center;
    display: block;
}

.note-new:hover {
    cursor:pointer;
    background: #e6e6e6;
}

.note-new-text {
    color: #555;
    font-size: 1.1rem;
}

.note-new-text .fa {
    padding-right: 10px;
}

.clinical-notes-btn:hover {
    transform: scale(1.1);
}

.more-notes-btn {
    background-color: white !important;
    padding: 10px !important;
    margin-top: 20px;
}

.more-notes-btn:hover {
    background: #e6e6e6 !important;
}

/* Icons */

.icon-arrow-left {
    width: 20px;
    margin-left: 10px;
}

/* Notes */

.note {
    position: relative;
    max-width: 200px;
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px 0 5px 5px;
}

.note:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.note::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #ccc #fff;
}

.existing-note-date {
    font-size: 0.8rem;
    padding-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.existing-note-subject {
    font-size: 0.8rem;
    color: #555;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.in-progress-text {
    font-size: 0.8rem;
    color: #555;
    font-weight: bold;
}

.existing-note-metadata {
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 5px;
}

.selected {
    border-width: 2px;
    border-color: #9ecfef;
}
