.context-tray {
    margin: 20px 0;
    color: #888;
}

.context-tray .view-mode-section-item {
    margin: 3px 0;
    font-size: 0.9em;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.context-tray .view-mode-section-item:hover,
.context-tray .view-mode-section-item.selected {
    font-weight: bold;
    color: #333;
}

.context-tray .view-mode-section-menu {
    border-bottom: 3px solid #eee;
}

.context-tray .view-mode-section-item-disabled {
    margin: 3px 0px 3px 26px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
