.context-portal {
  display: none;
  position: absolute;
  z-index: 10000;
  margin-top: 30px;
  width: 200px;
}

.context-portal ul {
  list-style-type: none;
  margin-top: 0;
  position: relative;
  padding-left: 0;
  margin-left: -8px;
  background-color: #fff;
}

.context-portal li {
  padding: 5px 10px;
}

.context-portal li.selected {
  background-color: #eee;
}