ul.context-get-help {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;

    li:first-child { 
        margin-top: 10px;
    }

    li:last-child { 
        margin-bottom: 10px;
    }

    .context-get-help-option {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        & > * {
            display:block;
        }
    }

    .context-get-help-option[data-active="true"] {
        background-color: #1384b5;
        color: #fff;
    }

    .context-get-help-text {
        span {
            padding-left: 15px;
        }
    }
}
