.btn_template_ctx {
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  min-width: 10px !important;
}

.context-options-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 710px;
}

#shortcut-search {
    padding: 15px 0;
    background-color: #ffffff;
    text-align: left;
    /*height: 50px;*/
    margin-bottom: 15px;
}