@import "../styles/variables";

#shortcut-search {
    padding:  0 $note-assistant-overhang 15px $note-assistant-overhang;
    background-color: $background;
    font-size: $size-m;
    color: $state;
    text-align: left;
    border-bottom: 1px solid $line-gray;
}

.shortcut-search-container {
    position: relative;
    display: inline-block;
}

.shortcut-search-text {
    font-size: $size-m;
    color: $state;
}
