@import "../styles/variables";

#shortcut-search {
    margin: 15px 0 5px 0;
    background-color: $background;
    text-align: left;
}

.shortcut-search-container {
    position: relative;
    display: inline-block;
}

.shortcut-search-text {
    font-size: 0.8em;
}