.App {
    height: 100vh;
}

/* Restricts app to max fixed width for very wide screens. */
.App-content {
    max-width: 1400px;
}

.container-fluid {
    padding-left: 12px;
    padding-right: 12px;
}

.dashboard-panel {
    margin-top: 16px;
    text-align: left;
}

.trio {
    min-height: 650px !important;
}

.panel-content {
    padding: 30px;
}

.divider {
    margin: 20px 0px !important;
    clear: both;
}

h1 {
    margin: 0px;
    font-size: 1.25rem;
}

h2 {
    margin: 0px;
    font-size: 0.9rem;
    font-weight: lighter;
}

h3 {
    margin: 0px;
    font-size: 0.8rem;
    font-weight: lighter;
}
