#clinical-notes {
    text-align: left;
    margin: 20px 10px;
}

#clinical-notes #note-description { 
    padding: 30px 30px 10px 30px;    
}

#clinical-notes #note-description #note-title { 
    font-size: 1.25rem;
    margin:0;
}

#clinical-notes #note-description p.note-description-detail-name { 
    padding-bottom:2px;
    color: #919191;
    font-size: .9rem;
    margin: 0;
}

#clinical-notes #note-description p.note-description-detail-value { 
    padding-top:0;   
    font-size: .9rem;
    margin: 0;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

#notes-message {
    text-align: center;
    color: #00bcd4;
    font-weight: bold;
    font-size: 20px;
}

#data {
    color: black;
}