/* Basic patient info */
.basic-info h2, h3 {
    color: #999;
}

.basic-info-name {
    margin-bottom: 10px;
}

.basic-info-item {
    min-width: 33% !important;
    max-width: 33% !important;
    float: left;
}

.basic-info-item span {
    font-size: 13px;
}

.divider .basic-info {
    margin-bottom: 5px;
}

/* Disease selection */
.divider {
    clear: both !important;
}

.selected-disease {
    min-height: 14px;
}

.disease-title {
    float: left;
    min-width: 84% !important;
    max-width: 84% !important;
}

/* Disease selection arrows */
.arrow {
    float: left;
    text-align: right;
    min-width: 8% !important;
    max-width: 8% !important;
    font-size: 14px !important;
}

.arrow a {
    text-decoration: none;
}

.arrow a:link {
    color: #333;
}

.arrow a:visited {
    color: #333;
}

.arrow a:hover {
    color: #666;
}

/* Disable right arrow */
#right-arrow a {
    color: #999;
    pointer-events: none;
}

/* Data summary tables */
.summary-list table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.summary-list table, tr, td {
    font-size: 12px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.summary-list td {
    padding: 8px 10px;
}

.summary-list td:first-child {
    width: 40%;
    color: #999;
}

.summary-list td:last-child {
    width: 60%;
}

.summary-list .missing {
    color: #fff;
    background-color: #fa9f8f;
}

.summary-list .captured {
    background-color: #d9ebf9;
}
