body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  color: #3F3F3F;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    */
    background-color: #F0F0F0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F0F0F0;
    /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    */
}
/* Hide scrollbar for IE until a specific height or width is reached (This is for the case in full app, when a note is open)*/
/* Commenting out this line for now because it causes hthe landing page to not be scrollable in IE*/
/* @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        overflow: hidden;
    }
} */

/* This line is needed so that users are able to scroll in IE on the landing page */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-height: 525px), (max-width: 1160px) {
    body {
      overflow: auto; } }
