.MyEditor-root {
    font-family: 'Georgia', serif;
    padding: 15px 30px 15px 30px;
}

.MyEditor-root .toolbar-menu {
    padding: 1px 0 17px 18px;
    margin: 0 -20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.menu > * + * {
    margin-left: 15px;
}
.menu > * {
    display: inline-block;
}
.MyEditor-root .toolbar-menu .button {
    color: #ccc;
    cursor: pointer;
}