#forms-panel {
  margin: 20px 10px;
  text-align: left;
}

#staging-form-heading { 
    padding: 30px;
}

#staging-form-heading h1 { 
    margin: 0;
    font-size: 1.25rem;
}

#staging-form-contents { 
    padding: 15px 30px;
}

.btn.tumor-size {
  min-width: 20% !important;
}

.btn.node {
  min-width: 18% !important;
}

.btn.metastasis {
  min-width: 40% !important;
}

.stage {
  font-size: 26px !important;
  margin-bottom: 20px;
}
