@import '../../../styles/variables';

.bar-chart {
    width: 100px;
    padding: 0;
    font-size: 0.9em;

    .bar-chart-text {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
    }

    .right-text {
        float: right;
        padding-right: 5px;
    }

    .progress-bar {
        display: flex;
        height: 100%;
        position: relative;
        background-color: $background;
    }

    .prog-fill {
        background-size:6px !important;
        display: inline-block;
        padding: 0;
        height: 12px;
        width: 0;
        background-color: $state;
    }

    .prog-fill-empty {
        border-style: solid;
        border-color: $line-gray;
        border-width:1px 1px 1px 0;
        flex-grow:100;

    }
    .tiny-arrow {
        opacity: 0.75;
        padding-right: 2px;
    }

    .prog-fill.increase {
        background-color:$table-light-green;
    }

    .prog-fill.decrease {
        background: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 2px,
                $table-light-red 2px,
                $table-light-red 4px
              ),
              linear-gradient(
                to bottom,
                $state,
                $state
              )
    }

    .bar-chart-text.increase {
        color:$table-dark-green;
    }
    .bar-chart-text.decrease {
        color: $table-dark-red;
    }
}
