.sub-section-heading h2.sub-section-name { 
    margin: 10px 0;
    font-weight: bold;  
}

.recharts-tooltip-wrapper { 
    font-size: 13px;
}

.recharts-text { 
    font-size: 14px;
}

.current-value-label {
    font-size: 20px;
    margin-top: 50px;
}
