@import '../styles/variables';

.line-chart-subsection {
    .subsection-heading {
        h2 {
            margin: 10px 0;

            .subsection-name {
                font-weight: $weight-regular;
                font-size: $size-m;
            }
            .subsection-icons {
                margin-left: 5px;

                .small-btn {
                    min-width: 0 !important;
                    min-height: 0 !important;
                }
            }
        }
    }

    .recharts-responsive-container {
        .recharts-tooltip-wrapper {
            font-size: $size-m;
        }

        .recharts-text {
            font-size: $size-s;
        }

        .hide-line {
            .recharts-curve {
                stroke: none;

                &.recharts-tooltip-cursor {
                    stroke: #CCCCCC;
                }
            }
        }
    }
}
