.summary-list h2 {
  color: #333;
}

/* Scrolling behavior */
.summary-list {
    overflow-y: scroll;
    height: 500px;
    margin-top: 20px;
}

.tabs-container {

}

.tabs-container div {

}

.tabs-container div .tab{
    color: black !important;

}

