@import '../styles/variables';

$font-size: 0.8rem;

.expanded-table {
    margin: 10px 20px 30px 0px;
    font-size: $font-size;

    &-header {
        font-weight: 600;
        height: inherit; // why is this not working

        &:nth-child(odd) {
            background-color: $contrast-gray;
        }

        &:nth-child(even) {
            background-color: $background;
        }
    }

    &-body {
        margin-left: 20px;

        table {
            border-collapse: collapse;
        }

        tr {
            height: inherit;
        }

        td {
            padding: 8px 10px;
            border: 0;
            color: $body-gray;
            font-family: "Open Sans", Arial, sans-serif;
        }

        tbody tr {
            &:nth-child(odd) {
                background-color: $contrast-gray;
            }

            &:nth-child(even) {
                background-color: $background;
            }
        }

        .positive-questions-table {
            margin-bottom: 5px;

            td {
                width: 25%;
                &:last-child {
                    width: 75%;
                }
            }
        }

        .negative-questions-table {
            td {
                width: 50%;
                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    // span {
    //     &.list-missing {
    //         border-bottom: 1px solid $missing-data-red;
    //     }

    //     &.list-unsigned span {
    //         border-bottom: 1.5px dashed $shr-context-line;
    //         text-decoration: none;
    //     }

    //     &.list-captured span {
    //         border-bottom: 1px solid $shr-context-line;
    //     }

    //     &.has-action-menu span {
    //         cursor: pointer;
    //     }
    // }

    // .list-column-heading {
    //     color: #000;
    //     background-color: $background;
    //     padding: 8px 10px;
    //     border-bottom: 1px solid lightgray;
    //     font-weight: 600 !important;
    //     font-family: "Open Sans", Arial, sans-serif;
    //     text-align: left;
    // }

    // span.stopped-cell {
    //     border: 0;
    //     color: $warning-red;
    //     font-family: "Open Sans", Arial, sans-serif;
    // }

    // &-tooltip .rc-tooltip-inner {
    //     width: 200px;
    //     min-height: 22px;
    //     text-align: center;
    //     border-radius: 6px;
    // }
    // .highlighted {
    //     background-color: $highlight-yellow !important;
    // }

    // .selected {
    //     background-color: $highlight-selected-yellow !important;
    // }
}