@import "../styles/variables";

.table-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: 60px;
}
.vertical-scroll {
    overflow-y: scroll !important;
    // height: 300px;
}
.max-height {
    max-height: 500px;
}
.name {
    &:hover {
        color: #028DEA !important;
        cursor: pointer !important;
        background-color: $feature-gray !important;
    }
}
.star-clicked {
    color: #028DEA !important;
}
.star-hovered {
    color: #b3b3b3 !important;
}
.star-cell {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center !important;
    min-width: 30px !important;
}
.left-table {
    float: left;
    // max-width: 250px;
}
#all-section-header {
    font-size: .75rem !important;
    font-weight: 500 !important;
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
    color: rgba(0,0,0,.54) !important;
    padding-left: 0px;
}
.cell-width {
    min-width: 80px;
    padding-left: 10px !important;
    padding-right: 0px !important;
}
#spacing {
    margin-bottom: 0px !important;
 }
 .right-table-spacing {
     margin-top: 1px;
 }
 .bordered-body {
    border-top: 1px solid $line-gray !important;
 }
.white-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FFFFFF !important;
}
