@import '../styles/variables';

.medication-visualizer-wrapper {
    padding-top: 10px;
}

.medication-chart-item {
    padding: 0px 0; 
}

.medication-info-heading {
    font-size: 0.7em;
    color: #999;
}

.medication-info {
    font-size: 0.8em;
    padding-bottom: 7px;
}

.range-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.medication-change { 
    font-size: 12px;
}

.medication-change-container {
    display: flex;
    padding-left: 0rem;
}

.medication-change-padding {
    padding-left: 0rem;
}

.medication-change-type { 
    font-weight: 700;
}

.medication-change-wide { 
    font-size: 12px;
    align-self: center;
    margin: auto;
}

.out-of-range-medication {
    color: red;
}

.medication-title {
    font-size: 13px;
    font-weight: 550;
}
.medication-change-type-unsigned {
    cursor: pointer;
    border-bottom: 1.5px dashed rgba(1, 130, 215, 0.8);
    text-decoration: none;
}

.medication-heading {
    padding: 10px;

    &-title {
        .highlighted {
            background-color: $highlight-yellow !important;
        }

        .selected {
            background-color: $highlight-selected-yellow !important;
        }
    }
}
