.medication-visualizer-wrapper {
    padding-top: 10px;
}

.medication-chart-item {
    padding: 12px;
}

.medication-info-heading {
    font-size: 0.7em;
    color: #999;
}

.medication-info {
    font-size: 0.8em;
}

.range-chart-container {
    width: 100%;
    height: 100%;
}

