.medication-visualizer-wrapper {
    padding-top: 10px;
}

.medication-chart-item {
    padding: 12px 0;
}

.medication-info-heading {
    font-size: 0.7em;
    color: #999;
}

.medication-info {
    font-size: 0.8em;
}

.range-chart-container {
    width: 100%;
    height: 100%;
}

.medication-change { 
    font-size: 12px;
    padding-bottom: 10px;
}

.medication-change-wide { 
    font-size: 12px;
    padding-bottom: 10px;
}

.medication-change-type{ 
    font-weight: 700;
}

.medication-title{
    font-size: 13px;
    font-weight: 550;
}
.medication-change-type-unsigned {
    cursor: pointer;
    border-bottom: 1.5px dashed rgba(1, 130, 215, 0.8);
    text-decoration: none;
}