.narrative-subsections { 
    margin-bottom: 20px;
}

span.plain {
}

span.missing-data {
    border-bottom: 1px solid red;
}

span.structured-data {
    border-bottom: 1px solid blue;
}

.toolbar-menu > * + * {
    margin-left: 15px;
}

.toolbar-menu > * {
    display: inline-block;
}

.toolbar-menu {
    padding: 1px 0 17px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.toolbar-menu .button {
    color: #ccc;
    cursor: pointer;
}

.toolbar-menu .button[data-active="true"] {
  color: black;
}
