.narrative-subsections { 
    margin-bottom: 20px;
}

span.plain {
}

span.missing-data {
    border-bottom: 1px solid red;
}

span.structured-data {
    border-bottom: 1px solid blue;
}

.menu-item {
    font-size: 0.2em;
}
