.patient-summary-panel {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.patient-summary-panel,
.patient-summary-panel .FullApp-content {
    background-color: white;
}