@import 'https://code.highcharts.com/css/highcharts.css';
 
.highcharts-title *{
    color: #0067B0;
    fill: #0067b0;
    font-weight: bold;
}

#table-loading-animation-container {
    display:flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 20px 0px;
}

.highcharts-axis-title *{
    left: 0px;
}

