#summary-header {
    display: flex;
    align-items: center;
    min-height: 80px;
}

#summary-header .FullApp-content {
    width: 100%;
}

h2, h3 {
    color: #999;
}

.patient-info {
    float: left;
    margin-left: 10px;
    min-width: 70%;
    max-width: 70%;
}

.item {
    text-align: left;
}

.item span {
    font-size: 0.8rem;
}

.no-wrap {
    white-space: nowrap;
}

.small-btn {
    width: 60px !important;
}
