.tabular-list { 
    margin-bottom: 20px;
}

.tabular-list table {
    border-collapse: collapse;
    width: 98%;
    margin-top: 10px;
    /*table-layout: fixed;*/
    margin-bottom: 30px !important;
}

.tabular-list table, tr, td {
    font-size: 0.8rem;

}

.tabular-list .list-subsection-header {
    color: #333 !important;
    font-weight: 600;
}

h2.subsection {
    width:98%;
    text-align:left;
    border-bottom: 1px solid #cccccc;
    line-height:0.1em;
    margin:20px 10px 10px 0px !important;
}

h2.subsection span {
    background:#fff;
    font-size: 0.8rem;
    padding-right: 10px;
}

.tabular-list tr:nth-child(even) { 
    background-color: #f8f8f8;
}

.tabular-list tr:nth-child(odd) { 
    background-color: #fff;
}

/* Most table elements only have a top border */
.tabular-list td {
    padding: 8px 10px;
}

/* Include the bottom border on the last row of the table */
.tabular-list tr:last-child td {
}

/* Missing element styling*/
.tabular-list td.list-missing span {
    border-bottom: 1px solid red;
}

/* Unsigned element styling*/
.tabular-list td.list-unsigned span {
    cursor: pointer;
    border-bottom: 1.4px dashed #0182D7;
    text-decoration: none;
}

/*Captured element styling */
.tabular-list td.list-captured span {
    border-bottom: 1px solid #0182D7;
    cursor: pointer;
}

.tabular-list ul {
    list-style-type: none;
    padding: 0;
}

.tabular-list ul li {
    font-size: 0.8rem;
    text-decoration: underline #0182D7;
    cursor: pointer;
}

/* Heading of column*/
.tabular-list .list-column-heading {
    color: #000;
    background-color: #ffffff;
    padding: 8px 10px;
    border-bottom: 1px solid lightgray;
    font-weight: 600 !important;
}