.tabular-list { 
    margin-bottom: 20px;
}

.tabular-list table {
    border-collapse: collapse;
    width: 98%;
    margin-top: 10px;
    /*table-layout: fixed;*/
}

.tabular-list table, tr, td {
    font-size: 0.8rem;

}

.tabular-list .list-subsection-header {
    color: #333 !important;
    font-style: italic;
    font-weight: bold;
    border-top: 0;
}

.tabular-list tr:nth-child(even) { 
    background-color: #f1f1f1;
}

.tabular-list tr:nth-child(odd) { 
    background-color: #fff;
}

/* Most table elements only have a top border */
.tabular-list td {
    padding: 8px 10px;
}

/* Include the bottom border on the last row of the table */
.tabular-list tr:last-child td {
}

/* Missing element styling*/
.tabular-list td.list-missing span {
    border-bottom: 1px solid red;
}

/*Captured element styling */
.tabular-list td.list-captured span {
    border-bottom: 1px solid blue;
    cursor: pointer;
}

/* Heading of column*/
.tabular-list .list-column-heading {
    color: #000;
    background-color: #ffffff;
    padding: 8px 10px;
}