@import '../styles/variables';


.tabular-list {
    margin-bottom: 20px;

    table {
        border-collapse: collapse;
        width: auto;
        margin-top: 10px;
        margin-bottom: 30px !important;
        font-size: $size-m;
    }

    .list-subsection-header {
        color: $body-gray !important;
        font-weight: $weight-semibold;
    }

    .no-entries {
        //padding-top: 20px;
        padding: 20px 0px 10px 0px;
        font-size: $size-l;
        font-weight: $weight-regular;
        color: $state;
    }

    tr {
        height: inherit;
    }

    td {
        padding: 6px 50px 6px 10px;
        border: 0;
        color: $body-gray;
        font-size: $size-m;
        line-height: 1.25rem;
        font-family: "Open Sans", Arial, sans-serif;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            font-size: $size-m;
            text-decoration: underline #0182D7;
            cursor: pointer;
        }
    }

    tbody tr {
        &:nth-child(odd) {
            background-color: $contrast-gray;
        }

        &:nth-child(even) {
            background-color: $background;
        }
    }

    span {
        &.list-missing {
            border-bottom: 1px solid $missing-data-red;
        }

        &.list-unsigned span {
            border-bottom: 1.5px dashed $shr-context-line;
            text-decoration: none;
        }

        &.list-captured span {
            border-bottom: 1px solid $shr-context-line;
        }

        &.has-action-menu span {
            cursor: pointer;
        }
    }

    .list-column-heading {
        color: $body-gray;
        background-color: $background;
        padding: 1px 50px 2px 10px;
        border-bottom: 1px solid $line-gray;
        font-weight: $weight-semibold !important;
        font-family: "Open Sans", Arial, sans-serif;
        text-align: left;
    }

    span.stopped-cell {
        border: 0;
        color: $warning-red;
        font-family: "Open Sans", Arial, sans-serif;
    }

    &-tooltip .rc-tooltip-inner {
        width: 200px;
        min-height: 22px;
        text-align: center;
        border-radius: 6px;
    }
    .highlighted {
        background-color: $highlight-yellow !important;
    }

    .selected {
        background-color: $highlight-selected-yellow !important;
    }
}

.tabular-list .multi-column {

    table {
        width: 98%;
    }

    tr {
        //width: 100%;
    }
}


tr, td {
    font-size: $size-m;
}

h2.subsection {
    width: 98%;
    text-align: left;
    border-bottom: 1px solid $line-gray;
    line-height :0.1em;
    margin: 20px 10px 10px 0px !important;

    span {
        background:$background;
        font-size: $size-m;
        padding-right: 10px;
    }

    .highlighted {
        background-color: $highlight-yellow !important;
    }

    .selected {
        background-color: $highlight-selected-yellow !important;
    }
}
