.tabular-list { 
    margin-bottom: 20px;
}

.tabular-list table {
    border-collapse: collapse;
    width: 98%;
    margin-top: 10px;
    /*table-layout: fixed;*/
}

.tabular-list table, tr, td {
    font-size: 0.8rem;

}

.tabular-list .list-subsection-header {
    color: #333 !important;
    border-top: 0;
}

/* Include the bottom border on the last row of the table */
.tabular-list tr:last-child td {
    border-bottom: 1px solid #ccc;
}

/* Most table elements only have a top border */
.tabular-list td {
    border-top: 1px solid #ccc;
    padding: 8px 10px;
}

/* Omit the borders from the icon column in the table */
.tabular-list td.list-enabled {
    border-top: 0;
    border-bottom: 0;
    color: #fefefe;
}
.tabular-list td.list-disabled {
    border-top: 0;
    border-bottom: 0;
    color: #fefefe;
}


.tabular-list tr.list-captured td.list-disabled  {
    color: #DDD;
    border-bottom: 0;
}
.tabular-list tr.list-captured td.list-enabled {
    color: #888;
    border-bottom: 0;
}

.tabular-list td.list-missing {
    color: #fff;
    background-color: #fa9f8f;
}

.tabular-list td.list-captured {
    color: #333;
    background-color: #d9ebf9;
}

.tabular-list span.list-button-hover {
    cursor: pointer;
}
