.tabular-subsections { 
    margin-bottom: 20px;
}

.tabular-subsections table {
    border-collapse: collapse;
    width: 98%;
    margin-top: 10px;
}

.tabular-subsections table, tr, td {
    font-size: 0.8rem;

}

.tabular-subsections .subsection-header {
    color: #333 !important;
}

/* Include the bottom border on the last row of the table */
.tabular-subsections tr:last-child td {
    border-bottom: 1px solid #ccc;
}

.tabular-subsections tr:last-child td:last-child {
    border-bottom: 0;
}

/* Most table elements only have a top border */
.tabular-subsections td {
    border-top: 1px solid #ccc;
    padding: 8px 10px;
}

.tabular-subsections td:first-child {
    color: #999;
}

/* Omit the borders from the icon column in the table */
.tabular-subsections td:last-child {
    border-top: 0;
    border-bottom: 0;
    color: #fefefe;
}

.tabular-subsections tr.captured td.disabled:last-child {
    color: #DDD;
}
.tabular-subsections tr.captured td:last-child {
    color: #888;
}

.tabular-subsections td.missing {
    color: #fff;
    background-color: #fa9f8f;
}

.tabular-subsections td.captured {
    color: #333;
    background-color: #d9ebf9;
}

.tabular-subsections span.button-hover {
    cursor: pointer;
}

