#targeted-data-section h2.section-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
}

.section-header__name {
    margin-right: 20px;
}

.section-header__condition {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #ccc;
    font-weight: normal;
    flex: 1;
    padding-right: 10px;
}

.section-header__condition.encounter {
    text-overflow: inherit;
    overflow: inherit;
    white-space: normal;
}

.small-btn {
    min-width: 0 !important;
    min-height: 0 !important;
}

.right-icons {
    margin-right: 10px;
    display: flex;
}
