@import '../styles/variables';

#targeted-data-section h2.section-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: #333;
}

.section-header {

    &__highlighted {
        background-color: $highlight-yellow;
    }

    &__condition {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $state;
        font-weight: normal;
        flex: 1;
        padding-right: 10px;
        margin-left: 20px;

        &.encounter {
            text-overflow: inherit;
            overflow: inherit;
            white-space: normal;
        }
    }
}

.small-btn {
    min-width: 0 !important;
    min-height: 0 !important;
}

.right-icons {
    margin-right: 10px;
    display: flex;
}

.menu-list {
    & ul {
        padding: 0px;

        & li {
            h3 {
                font-size: 13px;
            }
            padding: 5px 10px;

            .checkbox {
                font-size: 1rem !important;
            }
        }
    }
}
