.similar-patients-selector__select-buttons button {
  border: 0;
  cursor: pointer;
  color: #0084B8;
  font-size: 0.9em;
  font-weight: 600; }
  .similar-patients-selector__select-buttons button:hover {
    color: #005f85; }
  .similar-patients-selector__select-buttons button:focus {
    outline: none;
    background-color: #0084B8;
    color: #fff;
    border-radius: 5px; }

.similar-patients-selector .selection-option {
  display: flex;
  flex-direction: column;
  margin: 20px 0; }

.similar-patients-selector__options {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .similar-patients-selector__options .options-checkbox-list {
    flex: 0 1 calc(33% - 1em); }
